.game {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .start-button {
      width: 40%;
      height: 50px;
      border-radius: 10px;
      font-size: 24px;
      @media screen and (max-width: 370px) {
        font-size: 22px;
      }
    }
  }
}