.home {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .name {
    color: #fae7cb;
    display: block;
  }

  .icon {
    width: 50%;
    display: block;
  }

  .button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    .start-button {
      width: 40%;
      height: 50px;
      border-radius: 10px;
      font-size: 24px;
      @media screen and (max-width: 370px) {
        font-size: 22px;
      }
    }
  }
}