.game-base {
  flex: 0 0 auto;
  width: 80%;
  background-color: #38506c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 10px;

  .item {
    img {
      position: relative;
    }

    .MuiTouchRipple-root {
      &:hover {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 100;
          background-color: #ff525220;
        }
      }
    }
  }

  img {
    width: 100%;
  }
}
