.info {
  flex: 0 0 40vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5%;
  width: 100%;
  max-height: 200px;

  .image {
    flex: 0 0 40%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    position: relative;

    > * {
      flex: 0 0 95%;
      width: 95%;
      display: block;
      border-radius: 0.5%;
    }
  }

  .massage {
    flex: 0 0 50%;
    margin: 0 1vw;
    background-color: #7e8a9700;
  }
}